<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foo Bar - Drink Details</title>
    <style>
      body {
        background-color: bisque;
      }

      img{
        height: 500px;
        width: 500px;
        border-radius: 5px;
        margin-top: 10px;
      }
      .img-container{
        height: 650px;
        width: 600px;
        background-color:#F9BE00;
        margin: auto;
        text-align: center;
        border-radius: 12px;
      }
      button {
        height: 30px;
        width: 200px;
        background-color: #7C5F00;
        font-size: 24px;
        border-radius: 8px;
      }
      h1{
        color: #7C5F00;
        font-size: 48px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <!-- Main Heading -->
    <h1>Libation Zone</h1>

    <!-- Formatting the Drink Name -->
    <% let formattedDrinkArray = [] %> <% drink.name.split(' ').forEach(word =>
    { newWord = word.charAt(0).toUpperCase() + word.slice(1)
    formattedDrinkArray.push(newWord) }) %>

    <!-- Displaying the Drink Name -->
    <h2><%= formattedDrinkArray.join(' ') %></h2>

    <!-- Displaying the Drink Image -->
    <div class="img-container">
      <img
        src="<%= drink.image %>.png"
        alt="<%= formattedDrinkArray.join(' ') %>"
      />
      <!-- Displaying the Drink Price -->
      <h3>$<%= drink.price %></h3>
  
      <!-- Link to go back to the Drinks Menu -->
      <button>
        <a href="/drinks">Back</a>
      </button>
    </div>

  </body>
</html>
