<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pubApp</title>
    <style>
      body {
        background-color: bisque;
      }
      h1 {
        font-size: 48px;
        text-align: center;
        color: #5F007C;
      }

      .menu-container {
        background-color:#F9BE00;
        height: 300px;
        width: 600px;
        text-align: center;
        margin: auto;
        border-radius: 12px;
      }
      .btn-1{
        height: 80px;
        width: 300px;
        font-size: 32px;
        margin-top: 36px;
        border-radius: 12px;
        background-color: #7C5F00;
      }
      .btn-2{
        height: 80px;
        width: 300px;
        font-size: 32px;
        border-radius: 12px;
        background-color: #7C5F00;
      }
    </style>
  </head>
  <body>
    <!-- Main Heading -->
    <h1>Welcome to the pubApp!</h1>
    <div class="menu-container">
      <!-- Link to the Drink Menu -->
      <h2>
        <button class="btn-1"><a href="/drinks">Drink Menu</a></button>
      </h2>
      <!-- Link to the Food Menu -->
      <h2>
        <button class="btn-2"><a href="/food">Food Menu</a></button>
      </h2>
    </div>
  </body>
</html>
