<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>pubApp</title>
    <style>
      body {
        background-color: bisque;
      }
      h1 {
        font-size: 48px;
        text-align: center;
      }

      .menu-container {
        background-color: rgb(243, 129, 79);
        height: 300px;
        width: 600px;
        text-align: center;
        font-size: 48px;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <!-- Main Heading -->
    <h1>Welcome to the pubApp!</h1>
    <div class="menu-container">
      <!-- Link to the Drink Menu -->
      <h2>
        <button><a href="/drinks">Drink Menu</a></button>
      </h2>

      <!-- Link to the Food Menu -->
      <h2>
        <button><a href="/food">Drink Menu</a></button>
      </h2>
    </div>
  </body>
</html>
